
.image-section {
    background: linear-gradient(rgba(13, 71, 161, 0.7), rgba(13, 71, 161, 0.7)), url('../imgs/login.avif') center/cover;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-size: 1rem;
} 

.remember-forgot a {
    color: #1a75bc;
    text-decoration: none;
    padding-left: 2.8rem;
}

#login-error {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
}